.register-container {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2)
    , 0px 1px 1px 0px rgba(0, 0, 0, 0.14)
    , 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 15px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    .radio-form-group {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;

        mat-radio-group mat-radio-button {
            padding-right: 15px;
            margin-right: 10px;
        }
    }
    .form-group {
        display: flex;
        justify-content: center;
        mat-form-field {
            width: 90%;
        }
    }
    .register-submit {
        width: 100%;
        border-radius: 20px;
    }
}
